<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268688610813-4dcmc3o0e9piij0tljn0pp3rgbbdngpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268688610813-4dcmc3o0e9piij0tljn0pp3rgbbdngpl</string>
	<key>API_KEY</key>
	<string>AIzaSyAEYwcbm6Zmk8TTb_zKUJ-EaSh4g1onJgU</string>
	<key>GCM_SENDER_ID</key>
	<string>268688610813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaclone</string>
	<key>PROJECT_ID</key>
	<string>instagram-325f2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-325f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268688610813:ios:2a5e849abfe4a5068ff594</string>
</dict>
</plist>